* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightgray;
}
.struct{
  display: flex;
  margin: 15px 45px;
  text-align: center; 
}
.top{

  text-align: center;
  justify-content: center;
  margin-bottom: 0;
}
#cardContainer { 

  height: 40vh;
  margin: 0 45px;
  padding-top: 15px;
  justify-content: space-around;
}

.buttonClass{
  height: 12vh;
  margin: 0 45px;
  position: relative;
  justify-content: space-around;
}
.betShape{
  top: 40%;
  margin: auto;
  height:50%;
  width:80%;
}
.buttonClass div{
  width:15%;
  font-size: larger;
}

#betAmnt{
  top:35%;
}
.messageClass{
  height: 15vh;
  margin: 0 45px;

}
#winningsWindow{
  width:65%;
  height: 80%;
  margin:auto;  
}
#bank{
  width:20%;
  height:80%;
  margin:auto;
}
.divText{
  position: relative;
  top:25%;
  font-size: larger;
}

.card{
  background-color: aliceblue;
  height: 35vh;
  width:25vh;
}

.winningClass{
  background-color: black;
  height: 10vh;
}


/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 4px dotted grey;
  padding: 10px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
}

button:hover {
  background-color: grey;
  color: white;
} */
