* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url('Vietnam.jpg');
  background-size: cover;
  opacity: 1;

}
.struct {
  display: flex;
  margin: 15px 45px;
  text-align: center;
  background: rgba(173, 216, 230, 0.7);
}
.top {
  text-align: center;
  justify-content: center;
  margin-bottom: 0;
  background: rgba(173, 216, 230, 0.7);
  font-size: 30px;
}
#cardContainer {
  height: 40vh;
  margin: 0 45px;
  padding-top: 15px;
  justify-content: space-around;
  background: rgba(173, 216, 230, 0.7);
}

.buttonClass {
  height: 12vh;
  margin: 0 45px;
  position: relative;
  justify-content: space-evenly;
}
#betShape {
  top: 40%;
  margin: auto;
  height: 50%;
  width: 80%;
  background-image: url('smallCloud.png');
  background-size: cover;
}
.buttonClass div {
  width: 15%;
  font-size: larger;
}

#betAmnt {
  top: 35%;
}
.messageClass {
  height: 15vh;
  margin: 0 45px;
}
#winningsWindow {
  width: 65%;
  height: 80%;
  margin: auto;
  background-color:blanchedalmond;
  opacity: .9;
  border-radius: 5px;
}
#bank {
  width: 10%;
  height: 75%;
  margin: auto;

}
.divText {
  position: relative;
  top: 25%;
  font-size: 2rem;
}

.card {
  border-radius: 5px;
  height: 35vh;
  width: 25vh;
  border-radius: 5px;
}

.winningClass {
  margin-top: 0;
  height: 10vh;
}
button {
  position: relative;
  background-image: url(
'smallCloud.png');
  background-size: cover;
  width: 20rem;
  height: 200px;
  font-size: 2rem;
  background-color: rgb(254, 254, 254, 0);
  border-radius: 50%;
}